@using mvc_crud.Models
@{
    Access.Verify(Session, Response);
    UserModel user = (UserModel)Session["user"];
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
        <div class="container-fluid">
            @Html.ActionLink("Proyecto G.C.A.V.", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <!--
                    <li class="nav-item">
                        @Html.ActionLink("Inicio", "Index", "Home", new object { }, new { @class = "nav-link" })
                    </li>
                    -->
                    <li class="nav-item">
                        @Html.ActionLink("Acerca de", "About", "Home", new object { }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Contacto", "Contact", "Home", new object { }, new { @class = "nav-link" })
                    </li>
                    @if (user != null)
                    {
                        if(user.Level == 0)
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Pilotos", "Index", "Crud", new object { }, new { @class = "nav-link" })
                            </li>
                        }
                    }
                </ul>
                <!--
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <i class="bi bi-box-arrow-up"></i>
                    <button class="btn btn-outline-danger" type="button">
                        Cerrar sesi&oacute;n
                    </button>
                </form>
                -->
                <a class="btn btn-outline-success" style="text-decoration:none; vertical-align:middle; margin-right:15px;" href="@Url.Action("MyDashboard", "Session", null, null)">
                    <i class="bi bi-person-lines-fill"></i>
                    @(user == null ? "expired" : user.Name)
                </a>
                <a class="btn btn-outline-danger" title="Cerrar sesión" href="@Url.Action("Logout", "Session", null, null)">
                    <i class="bi bi-arrow-bar-right"></i>
                </a>
            </div>
        </div>
    </nav>
    <main class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Diego M.</p>
        </footer>
    </main>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
