@using mvc_crud.Models
@model IEnumerable<mvc_crud.Models.DriverModel>
@{
    ViewBag.Title = "Index";
    DriverModel selected = ViewBag.Selected;
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<DriverModel> drivers = Model;
}
<!--
@foreach (var row in drivers)
{
    <h1>Name: @row.Name Age: @row.Age</h1>
    <h3>@row.Nationality</h3>
    <h3>@row.Active</h3>

}
-->
<div class="row">
    <div class="col-md-12">
        <center><h1>Pilotos</h1></center>
        <center><p>@IsPost</p></center>
        <!--
        <h3>@(selected == null ? "null" : selected.Name)</h3>
        -->    
    </div>
    <div class="col-md-2 col-md-offset-1">
        <center>
            <input type="text" id="myInput" class="form-control" onkeyup="myFunction()" placeholder="Buscar por nombre">
        </center>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table id="driverstable" class="table table-responsive">
            <thead>
                <tr>
                    <th hidden>ID</th>
                    <th>Nombre</th>
                    <th>Nacionalidad</th>
                    <th>Edad</th>
                    <th>Activo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var driver in drivers)
                {
                    <!---->
                    <tr style="display: none;">
                        <td hidden>@(driver.Id.ToString())</td>
                        <td>@driver.Name</td>
                        <td>@driver.Nationality</td>
                        <td>@driver.Age</td>
                        <td>@driver.Active</td>
                        <td>
                            <button type="button" class="btn btn-primary driver edit" data-toggle="modal" data-id="@driver.Id"><span class="glyphicon glyphicon-edit"></span></button>
                            <!--    
                            @Html.ActionLink("Remove","DeleteDriver", "Crud", new { id = driver.Id }, null)
                            -->
                            <a class="btn btn-danger" href="@Url.Action("DeleteDriver","Crud", new { id = driver.Id }, null)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="6">
                        <center>
                            <!--    
                            <a class="btn btn-primary" href="@Url.Action(" Add", "Crud")">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                            -->
                            <button type="button" class="btn btn-default driver add" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span></button>
                        </center>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade driver" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("DriverModal", "Crud", FormMethod.Post, new { enctype = "multipart/form-data" })) {
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" hidden>
                            <label for="id">ID</label>
                            <input type="number" class="form-control disabled" id="id" name="id" placeholder="1">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="name">Nombre</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Juan" pattern="[A-zÀ-ú ]+" maxlength="100" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="nationality">Nacionalidad</label>
                            <input type="text" class="form-control" id="nationality" name="nationality" pattern="[A-zÀ-ú ]+" maxlength="100" placeholder="ARG" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="age">Edad</label>
                            <input type="number" class="form-control" id="age" name="age" placeholder="23" min="18" max="150" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="margin-top: 10px;">
                            <center>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="active" name="active">
                                    <label class="custom-control-label" for="active"> Activo</label>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary driver submit" id="function" name="function" value="">Guardar</button>
                </div>
            </div>
        }
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            $('input:not([type="checkbox"])').change(function () {
                var flag = true;
                $('input:not([type="checkbox"])').each(function (index, elem) {
                    flag = $(this).val().length == 0;
                });
                $('.driver.submit').prop('disabled', flag);
            });
            $('.btn.btn-default').click(function () {
                $('.modal.driver').modal('toggle');
                $('.modal-title').html('Agregar piloto');
                $('#id').val('');
                $('#name').val('');
                $('#nationality').val('');
                $('#age').val('');
                $('#active').prop('checked', false);
                $('.driver.submit').val('add').prop('disabled', true);
            });
            $('.btn.btn-primary').click(function () {
                var elemId = $(this).data("id");
                $.ajax({
                    url: '/Crud/DriverSelect',
                    data: {
                        id: parseInt(elemId)
                    },
                    type: "POST",
                    success: function (data) {
                        var driver = $.parseJSON(data);
                        $('.modal.driver').modal('toggle');
                        $('.modal-title').html('Editar piloto');
                        $('#id').val(driver.Id);
                        $('#name').val(driver.Name);
                        $('#nationality').val(driver.Nationality);
                        $('#age').val(driver.Age);
                        $('#active').prop('checked', driver.Active);
                        $('.driver.submit').val('edit').prop('disabled', false);
                    }
                });
            });
            $('#data').after('<div id="nav"></div>');
            var rowsShown = 7;
            var rowsTotal = $('#data tbody tr').length;
            var numPages = rowsTotal / rowsShown;
            for (i = 0; i < numPages; i++) {
                var pageNum = i + 1;
                $('#nav').append('<a href="#" rel="' + i + '">' + pageNum + '</a> ');
            }
            $('#data tbody tr').hide();
            $('#data tbody tr').slice(0, rowsShown).show();
            $('#nav a:first').addClass('active');
            $('#nav a').bind('click', function () {

                $('#nav a').removeClass('active');
                $(this).addClass('active');
                var currPage = $(this).attr('rel');
                var startItem = currPage * rowsShown;
                var endItem = startItem + rowsShown;
                $('#data tbody tr').css('opacity', '0.0').hide().slice(startItem, endItem).
                    css('display', 'table-row').animate({ opacity: 1 }, 300);
            });
        });
        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, row, txtValue, column = 1;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("driverstable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (row = 2; row < tr.length; row++) {
                td = tr[row].getElementsByTagName("td")[column];
                if (td) {
                    if (filter.length > 0) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[row].style.display = "";
                        } else {
                            tr[row].style.display = "none";
                        }
                    }
                    else {
                        tr[row].style.display = "none";
                    }
                }
            }
        }
    </script>
}