@using mvc_crud.Models
@model IEnumerable<mvc_crud.Models.DriverModel>
@{
    ViewBag.Title = "Index";
    DriverModel selected = ViewBag.Selected;
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<DriverModel> drivers = Model;
}
<div class="row">
    <div class="col g-2">
        <div class="bg-light p-3 rounded">
            <h1>Pilotos</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col g-2">
        <table id="table" class="p-4 table table-light table-hover table-bordered p-3">
            <thead>
                <tr>
                    <th hidden>ID</th>
                    <th>Nombre</th>
                    <th>Nacionalidad</th>
                    <th>Edad</th>
                    <th>Activo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var driver in drivers)
                {
                    <!--
                    -->
                    <tr>
                        <td hidden>@(driver.Id.ToString())</td>
                        <td>@driver.Name</td>
                        <td>@driver.Nationality</td>
                        <td>@driver.Age</td>
                        <td>@driver.Active</td>
                        <td align="center">
                            <button type="button" class="btn btn-outline-primary driver edit" data-toggle="modal" data-id="@driver.Id">Editar</button>
                            <!--
                            @Html.ActionLink("Remove", "DeleteDriver", "Crud", new { id = driver.Id }, null)
                            -->
                            <a class="btn btn-outline-danger" href="@Url.Action("DeleteDriver", "Crud", new { id = driver.Id }, null)">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal driver" id="myModal" tabindex="-1">
    <div class="modal-dialog">
        @using (Html.BeginForm("DriverModal", "Crud", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" hidden>
                            <label for="id">ID</label>
                            <input type="number" class="form-control disabled" id="id" name="id" placeholder="1">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="name">Nombre</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Juan" pattern="[A-zÀ-ú ]+" maxlength="100" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="nationality">Nacionalidad</label>
                            <input type="text" class="form-control" id="nationality" name="nationality" pattern="[A-zÀ-ú ]+" maxlength="100" placeholder="ARG" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="age">Edad</label>
                            <input type="number" class="form-control" id="age" name="age" placeholder="23" min="18" max="150" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="margin-top: 10px;">
                            <center>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="active" name="active">
                                    <label class="custom-control-label" for="active"> Activo</label>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" >Cerrar</button>
                    <button type="submit" class="btn btn-success driver submit" id="function" name="function" value="">Guardar</button>
                </div>
            </div>
        }
    </div>
</div>
<!--
@Html.Partial("~/Views/Shared/Error.cshtml")
-->
@section scripts {
<script>
        $(document).ready(function () {
            $('input:not([type="checkbox"])').keyup(function () {
                var flag = true;
                $('input:not([type="checkbox"])').each(function (index, elem) {
                    flag = $(this).val().length == 0;
                });
                $('.driver.submit').prop('disabled', flag);
            });
            $(document).on('click', '.driver.add', (function () {
                $('.modal.driver').modal('toggle');
                $('.modal-title').html('Agregar piloto');
                $('#id').val('');
                $('#name').val('');
                $('#nationality').val('');
                $('#age').val('');
                $('#active').prop('checked', false);
                $('.driver.submit').val('add').prop('disabled', true);
            }));
            $('.driver.edit').click(function () {
                var elemId = $(this).data("id");
                $.ajax({
                    url: '/Crud/DriverSelect',
                    data: {
                        id: parseInt(elemId)
                    },
                    type: "POST",
                    success: function (data) {
                        var driver = $.parseJSON(data);
                        $('.modal.driver').modal('toggle');
                        $('.modal-title').html('Editar piloto');
                        $('#id').val(driver.Id);
                        $('#name').val(driver.Name);
                        $('#nationality').val(driver.Nationality);
                        $('#age').val(driver.Age);
                        $('#active').prop('checked', driver.Active);
                        $('.driver.submit').val('edit').prop('disabled', false);
                    }
                });
            });
            tablePages();
        });
        function tablePages() {
            $('table').parent().before(
                `<div class="row">
                    <div id="nav" class="col g-2">
                        <button type="button" title="Agregar piloto" class="btn btn-outline-success driver add">Agregar</button>
                    </div>
                </div>`
            );
            var rowsShown = 10;
            var rowsTotal = $('#table tbody tr').length;
            var numPages = rowsTotal / rowsShown;
            for (i = 0; i < numPages; i++) {
                var pageNum = i + 1;
                $('#nav').append('<a  class="btn btn-outline-secondary" href="#" rel="' + i + '">' + pageNum + '</a> ');
            }
            $('#table tbody tr').hide();
            $('#table tbody tr').slice(0, rowsShown).show();
            $('#nav a:first').addClass('active');
            $('#nav a').bind('click', function () {

                $('#nav a').removeClass('active');
                $(this).addClass('active');
                var currPage = $(this).attr('rel');
                var startItem = currPage * rowsShown;
                var endItem = startItem + rowsShown;
                $('#table tbody tr').css('opacity', '0.0').hide().slice(startItem, endItem).
                    css('display', 'table-row').animate({ opacity: 1 }, 300);
            });
        }
        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, row, txtValue, column = 1;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("driverstable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (row = 2; row < tr.length; row++) {
                td = tr[row].getElementsByTagName("td")[column];
                if (td) {
                    if (filter.length > 0) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[row].style.display = "";
                        } else {
                            tr[row].style.display = "none";
                        }
                    }
                    else {
                        tr[row].style.display = "none";
                    }
                }
            }
        }
</script>
}